<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.kth.iv1351.dao.BookingMapper">
    <select id="selectBooking" parameterType="java.lang.Integer" resultType="se.kth.iv1351.model.BookingData">
        SELECT * FROM BOOKINGS WHERE id= #{bookingid}
    </select>
    <insert id="insertBooking" parameterType="se.kth.iv1351.openapi.model.Booking">
        INSERT INTO BOOKINGS (id, start_time, end_time, lesson_id, student_id, instructor_id)
        VALUES (#{id}, #{startTime}, #{endTime}, #{lessonId}, #{studentId} , #{instructorId});
    </insert>
    <update id="updateBooking" parameterType="se.kth.iv1351.openapi.model.Booking">
        UPDATE BOOKINGS SET
        start_time = #{startTime},
        end_time = #{endTime},
        lesson_id = #{lessonId},
        student_id = #{studentId},
        instructor_id = #{instructorId}
        WHERE id = #{id}
    </update>
    <delete id="deleteBooking">
        delete from BOOKINGS where id = #{id}
    </delete>
</mapper>