<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.kth.iv1351.dao.InstrumentTypeMapper">
    <select id="selectInstrumentType" parameterType="java.lang.Integer" resultType="se.kth.iv1351.model.InstrumentTypeData">
        SELECT * FROM INSTRUMENT_TYPES WHERE id= #{instrumentid};
    </select>
    <insert id="insertInstrumentType" parameterType="se.kth.iv1351.openapi.model.InstrumentType">
        INSERT INTO INSTRUMENT_TYPES (id, type)
        VALUES (#{id}, #{type});
    </insert>
    <delete id="deleteInstrumentType">
        delete from INSTRUMENT_TYPES where id = #{id}
    </delete>
</mapper>
