<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.kth.iv1351.dao.LeaseMapper">
    <select id="selectAllLeases" resultType="se.kth.iv1351.model.LeaseData">
        SELECT * FROM LEASES
    </select>
    <select id="selectLease" parameterType="java.lang.Integer" resultType="se.kth.iv1351.model.LeaseData">
        SELECT * FROM LEASES WHERE id= #{leaseid};
    </select>
    <insert id="insertLease" parameterType="se.kth.iv1351.openapi.model.Lease">
        INSERT INTO LEASES (id, start_time, end_time, rental_instrument_id, student_id)
        VALUES (#{id}, #{startTime}, #{endTime}, #{rentalInstrumentId}, #{studentId});
    </insert>
    <update id="updateLease" parameterType="se.kth.iv1351.openapi.model.Lease">
        UPDATE LEASES SET
        id = #{id},
        start_time = #{startTime},
        end_time = #{endTime},
        rental_instrument_id = #{rentalInstrumentId},
        student_id = {studentId}
        WHERE id = {id}
    </update>
    <delete id="deleteLease">
        delete from LEASES where id = #{id}
    </delete>
</mapper>