<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.kth.iv1351.dao.LessonMapper">
    <select id="selectLesson" parameterType="java.lang.Integer" resultType="se.kth.iv1351.model.LessonData">
        SELECT * FROM LESSONS WHERE id= #{lessonid};
    </select>
    <insert id="insertLesson" parameterType="se.kth.iv1351.openapi.model.Lesson">
        INSERT INTO LESSONS (id, start_time, end_time, rental_instrument_id, student_id)
        VALUES (#{id}, #{startTime}, #{endTime}, #{rentalInstrumentId}, #{studentId});
    </insert>
</mapper>