<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.kth.iv1351.dao.ReportMapper">
    <select id="getEnsembleReport" resultType="se.kth.iv1351.model.LessonData">
        SELECT
            LESSONS.ID
            , LESSONS.GENRE
            , CAST(BOOKINGS.START_TIME AS DATE)
            , LESSONS.MAX_PARTICIPANTS - COUNT(DISTINCT BOOKINGS.ID) seats_left
        FROM
            LESSONS
        JOIN
            BOOKINGS
        ON LESSONS.ID = BOOKINGS.LESSON_ID
        WHERE
            LESSONS.TYPE = 'ensemble'
        AND CAST(BOOKINGS.START_TIME AS DATE) BETWEEN CURRENT_DATE AND CURRENT_DATE + INTERVAL '7 DAY'
        GROUP BY
            LESSONS.ID
            , LESSONS.GENRE
            , CAST(BOOKINGS.START_TIME AS DATE)
        ORDER BY
            LESSONS.GENRE
            , CAST(BOOKINGS.START_TIME AS DATE);
    </select>
</mapper>