<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.kth.iv1351.dao.SiblingMapper">
    <select id="selectSibling" parameterType="java.lang.Integer" resultType="se.kth.iv1351.model.SiblingData">
        SELECT * FROM SIBLINGS WHERE id= #{siblingid};
    </select>
    <insert id="insertSibling" parameterType="se.kth.iv1351.openapi.model.Sibling">
        INSERT INTO SIBLINGS (student_id, student_id2)
        VALUES (#{studentIdOne}, #{studentIdTwo});
    </insert>
    <update id="updateSibling" parameterType="se.kth.iv1351.openapi.model.Sibling">
        UPDATE SIBLINGS SET
        student_id = #{studentIdOne},
        student_id2 = #{studentIdTwo}
        WHERE student_id = #{studentIdOne}
    </update>
    <delete id="deleteSibling">
        delete from SIBLINGS where student_id = #{id}
    </delete>

</mapper>