<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.kth.iv1351.dao.UserInstrumentMapper">
    <select id="selectInstrument" parameterType="java.lang.Integer" resultType="se.kth.iv1351.model.UserInstrumentData">
        SELECT * FROM USER_INSTRUMENTS WHERE id= #{instrumentid};
    </select>
</mapper>