<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.kth.iv1351.dao.UserInstrumentMapper">
    <select id="selectInstrument" parameterType="java.lang.Integer" resultType="se.kth.iv1351.model.UserInstrumentData">
        SELECT * FROM USER_INSTRUMENTS WHERE id= #{instrumentid};
    </select>
    <insert id="insertUserInstrument" parameterType="se.kth.iv1351.openapi.model.UserInstrument">
        INSERT INTO USER_INSTRUMENT_TYPES (user_id, instrument_type_id)
        VALUES (#{userId}, #{instrumentTypeId});
    </insert>
    <update id="updateUserInstrument" parameterType="se.kth.iv1351.openapi.model.UserInstrument">
        UPDATE USER_INSTRUMENT_TYPES SET
        user_id = #{userId},
        instrument_type_id = #{instrumentTypeId}
        WHERE user_id = #{userId}
    </update>
    <delete id="deleteUserInstrument">
        delete from USER_INSTRUMENT_TYPES where user_id = #{id}
    </delete>
</mapper>