<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.kth.iv1351.dao.UserMapper">
    <select id="selectUser" parameterType="java.lang.Integer" resultType="se.kth.iv1351.model.UserData">
        SELECT * FROM USERS WHERE id= #{userid};
    </select>
    <select id="insertUser" parameterType="String" resultType="String">
        INSERT INTO USERS (id, name, age)
        VALUES (1, 'Bajskorv', '18');
    </select>
</mapper>