<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.kth.iv1351.dao.UserApplicationMapper">
    <select id="selectAllUserApplications" resultType="se.kth.iv1351.model.UserApplicationData">
        SELECT * FROM APPLICATIONS
    </select>
    <select id="selectUserApplication" parameterType="java.lang.Integer" resultType="se.kth.iv1351.model.UserApplicationData">
        SELECT * FROM APPLICATIONS WHERE id= #{applicationid};
    </select>
    <insert id="insertUserApplication" parameterType="se.kth.iv1351.openapi.model.UserApplication">
        INSERT INTO APPLICATIONS (id, letter, instrument_type_id, user_id)
        VALUES (#{id}, #{letter}, #{instrumentTypeId}, #{userId});
    </insert>
    <update id="updateUserApplication" parameterType="se.kth.iv1351.openapi.model.UserApplication">
        UPDATE APPLICATIONS SET
        id = #{id},
        letter = #{letter},
        instrument_type_id = #{instrumentTypeId},
        user_id = #{userId}
        WHERE id = #{id}
    </update>
    <delete id="deleteUserApplication">
        delete from APPLICATIONS where id = #{id}
    </delete>
</mapper>