<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.kth.iv1351.dao.UserMapper">
    <select id="selectUser" parameterType="java.lang.Integer" resultType="se.kth.iv1351.model.UserData">
        SELECT * FROM USERS WHERE id= #{userid};
    </select>
    <insert id="insertUser" parameterType="se.kth.iv1351.openapi.model.User">
        INSERT INTO USERS (id, person_number, name, age, address, email, phone_number)
        VALUES (#{id}, #{personNumber}, #{name}, #{age}, #{address} , #{email}, #{phoneNumber});
    </insert>
</mapper>