<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="se.kth.iv1351.dao.UserMapper">
    <select id="selectAllUsers" resultType="se.kth.iv1351.model.UserData">
        SELECT * FROM USERS
    </select>
    <select id="selectUser" parameterType="java.lang.Integer" resultType="se.kth.iv1351.model.UserData">
        SELECT * FROM USERS WHERE id= #{userid};
    </select>
    <insert id="insertUser" parameterType="se.kth.iv1351.openapi.model.User">
        INSERT INTO USERS (id, person_number, name, age, address, email, phone_number, role)
        VALUES (#{id}, #{personNumber}, #{name}, #{age}, #{address} , #{email}, #{phoneNumber}, #{role});
    </insert>
    <update id="updateUser" parameterType="se.kth.iv1351.openapi.model.User">
        UPDATE USERS SET
        id = #{id},
        person_number = #{personNumber},
        name = #{name},
        age = #{age},
        address = #{address},
        email = #{email},
        phone_number = #{phoneNumber},
        role = #{role}
        WHERE id = #{id}
    </update>
    <delete id="deleteUser">
        delete from USERS where id = #{id}
    </delete>
</mapper>